.dashboard {
  width: 95%;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
  row-gap: 20px;
  text-align: left;
  color: #fff;
  border: 1px solid #33373D;
}

.container {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  row-gap: 20px;
  background-color: #fff;
}

.messageAndSidebar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.messageContainer {
  flex-grow: 1;
}

.contentWrapper {
  flex: 1;
  min-width: 45rem;
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #3e4249;
  background-color: #fff;
}

/* .rightSideBar {
  width: 25.75rem;
  background-color: var(--white);
  border-left: 1px solid var(--line);
  flex-direction: column;
  padding: 0 0 14.687rem;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--heading-size);
  color: var(--black);
  font-family: var(--heading);
  max-height: 100vh; 
} */

@media screen and (max-width: 850px) {
  .dashboard {
    flex-direction: column;
    padding: 0;
    height: auto;
  }

  .messageAndSidebar {
    width: 100%;
    height: 93vh;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }

  .messageContainer {
    flex-grow: 1;
    width: 70%;
    height: 90vh;
    margin-left: 0px;
  }

  .container {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    row-gap: 0;
  }

  .contentWrapper {
    width: 100%;
    border: none;
    min-width: 100%;
  }

  .rightSideBar {
    width: 100%;
    padding: 0;
    border-left: none;
    order: 3;
    max-height: 100vh; 
    margin-bottom: 25px;
  }

  .separador {
    margin-top: 20px;
  }
}
