.dashboardHistory {
  display: flex;
  width: 100%;
  height: 90vh;
  margin-top: 50px;
}

.contentHistory {
  display: flex;
  background-color: #F7F7F7;
}

.activityContainer {
  margin-top: -15px;
}