.dashboard-container {
  width: 100%;
  position: relative;
  border-radius: 32px;
  background-color: black;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  line-height: normal;
  letter-spacing: normal;
  row-gap: 20px;
  text-align: left;
  font-size: 0.75rem;
  color: rgba(204, 204, 204, 0.5);
  font-family: 'Caption', sans-serif;
  flex-wrap: wrap;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}

.sidebar {
  height: 81.25rem;
  width: 6.25rem;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  display: none;
}

.sidebar-visible {
  display: flex;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  min-width: 57.188rem;
  max-width: 100%;
}

.messages-section {
  border-left: 1px solid darkslategray;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  position: relative;
  max-width: 100%;
  font-size: 0.75rem;
  color: #3c3c3c;
  font-family: 'Caption', sans-serif;
}

.messages-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-bottom: 1px solid darkslategray;
  padding-top: 2.25rem;
  padding-left: 2rem;
  padding-bottom: 2.125rem;
  gap: 0.75rem;
  flex-wrap: wrap;
}

.messages-title {
  margin: 0;
  flex: 1;
  text-align: inherit;
  line-height: 2.5rem;
  font-weight: 600;
  font-size: inherit;
  display: inline-block;
  min-width: 9.063rem;
}

.icon {
  height: 3rem;
  width: 3rem;
  border-radius: 31px;
  border: 1px solid darkslategray;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 0.687rem;
}

.icon img {
  height: 1.5rem;
  width: 1.5rem;
}

.message-item {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  padding: 0.875rem 0.937rem;
  gap: 0.5rem;
  white-space: nowrap;
  border: 1px solid darkslategray;
  border-radius: 341px;
}

.message-item img {
  height: 1.5rem;
  width: 1.5rem;
  overflow: hidden;
  min-height: 1.5rem;
}

.message-item-content {
  flex: 1;
  line-height: 1.5rem;
  white-space: pre-wrap;
}

.message-content-with-icon {
  position: relative;
}

.header {
  background-color: white;
  border-bottom: 1px solid #dcdcdc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding-top: 2.125rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  position: sticky;
  top: 0;
  z-index: 99;
  max-width: 100%;
  font-size: 0.875rem;
  color: #666;
  font-family: 'Body', sans-serif;
}

.header-logo {
  height: 2.563rem;
  width: 3rem;
  object-fit: cover;
}

.header-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}

.header-text {
  text-align: left;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: black;
  white-space: nowrap;
  display: none;
}

.header-info-display {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  max-width: 100%;
}

.header-info-text {
  flex: 1;
  line-height: 1.5rem;
  display: inline-block;
  max-width: 100%;
}

.header-controls {
  position: absolute;
  top: 2.125rem;
  left: 52.875rem;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 1.25rem;
  z-index: 1;
}

.header-controls img {
  height: 2rem;
  width: 2rem;
  overflow: hidden;
  min-height: 2rem;
}

.header-checkbox {
  position: absolute;
  top: 0;
  left: 38.938rem;
  width: 1.75rem;
  height: 2rem;
}

.header-video {
  position: absolute;
  top: 0;
  left: 42.438rem;
  display: flex;
  align-items: start;
  justify-content: start;
  padding: 0;
  z-index: 1;
}

.header-video img {
  height: 2rem;
  width: 2rem;
}

.header-close {
  position: absolute;
  top: 0.188rem;
  left: 43.063rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0.268rem;
  padding-bottom: 0.125rem;
  padding-left: 0;
  z-index: 2;
}

.header-close a {
  text-decoration: none;
  width: 0.875rem;
  line-height: 1.106rem;
  text-align: inherit;
  display: inline-block;
  font-size: inherit;
}

.content-box {
  height: 66.75rem;
  border-radius: 3xl;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-bottom: 0;
  box-sizing: border-box;
  gap: 1.25rem;
  max-width: 100%;
}

.chat-bubble {
  height: 15.375rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 1.125rem;
  padding-left: 0;
  padding-bottom: 0;
  box-sizing: border-box;
  gap: 0.75rem;
  max-width: 100%;
  color: #f5f5f5;
}

.chat-message {
  width: 45.313rem;
  position: absolute;
  padding: 0.75rem 1.25rem;
  background-color: black;
  border-radius: 1xl;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  max-width: 45.313rem;
}

.chat-message-content {
  flex: 1;
  line-height: 1.5rem;
  display: inline-block;
  max-width: 100%;
}

.client-info {
  margin: 0;
  line-height: 1.5rem;
  font-weight: 600;
  min-width: 7rem;
}

.client-info-text {
  line-height: 1.5rem;
  color: gray;
  min-width: 3.438rem;
  white-space: nowrap;
}

.client-info-text-long {
  line-height: 1.5rem;
  white-space: nowrap;
  color: gray;
}

@media (max-width: 1225px) {
  .messages-title {
    font-size: 1.188rem;
    line-height: 1.5rem;
  }

  .chat-message {
    width: 100%;
  }

  .header-info-display {
    display: flex;
  }
}

@media (max-width: 850px) {
  .chat-message {
    max-width: 100%;
  }

  .chat-bubble {
    height: 8.313rem;
  }
}
