.container {
  width: 100%;
  position: relative;
  border-radius: 13px;
  background-color: black;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  text-align: center;
  font-size: 1.25rem;
  color: black;
  font-family: 'body-regular';
  flex-grow: 1;
}

.sidebar {
  height: 81.25rem;
  width: 6.25rem;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}

.separador {
  width: 100%;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  text-align: left;
  font-size: 0.875rem;
  color: white;
  font-family: 'body-regular';
}
