.logo {
  width: 5rem;
  height: 5.563rem;
}
.chatBubble1Icon {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.search {
  width: 11.625rem;
  position: relative;
  line-height: 2rem;
  font-weight: 600;
  display: none;
}
.commandSymbol1Icon {
  height: 1rem;
  width: 1rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 1rem;
}
.f {
  align-self: stretch;
  position: relative;
  line-height: 1rem;
}
.tooltips {
  height: 1.75rem;
  border-radius: var(--br-3xs);
  background-color: var(--background);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
  font-size: var(--font-size-base);
}
.element,
.options {
  align-self: stretch;
  display: flex;
}
.element {
  background-color: var(--color-mediumslateblue-100);
  border-right: 3px solid var(--color-dodgerblue);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-17xl);
  gap: var(--gap-9xl);
}
.options {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.logoutIcon {
  width: 1.75rem;
  height: 1.75rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.blackBackground1 {
  width: 4rem;
  height: 1.25rem;
  position: absolute;
  margin: 0 !important;
  top: 4.438rem;
  left: 0.875rem;
  object-fit: cover;
  z-index: 1;
}
.sideBar {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-21xl) 0 var(--padding-29xl);
  position: relative;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--button-big-size);
  color: var(--secondary);
  font-family: var(--caption-1);
}
@media screen and (max-width: 1225px) {
  .sideBar {
    padding-top: var(--padding-7xl);
    padding-bottom: var(--padding-12xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 850px) {
  .sideBar {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .search {
    font-size: var(--font-size-lg);
    line-height: 1.625rem;
  }
}